/Dispetcher.Common/bin/Debug
/Dispetcher.Common/obj/Debug
/Dispetcher.Db.MsSql/bin/Debug
/Dispetcher.Db.MsSql/obj/Debug
/Dispetcher.Db.SqLite/bin/Debug
/Dispetcher/bin/Debug
/Dispetcher/obj/Debug
/Dispetcher.Db.SqLite/obj/Debug
/*.suo
/ThirdParity/S22.Imap/bin/Debug v3.5
/ThirdParity/S22.Imap/bin/Debug v4.0
/ThirdParity/S22.Imap/obj/Debug
/DispetcherWF/bin/Debug
/DispetcherWF/obj/Debug
